<section class="fly-next-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span class="sub-title">Öne Çıkan Fırsatlar</span>
                    <h2 class="title">Sizin İçin Seçilen Rotalar</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="fly-next-nav">
                    <button class="active" data-filter="*">Uçuşlar <i class="flaticon-flight"></i></button>
                    <button class="" data-filter=".cat-one">Araç Kiralama <i class="flaticon-car-1"></i></button>
                    <button class="" data-filter=".cat-two">Transfer <i class="flaticon-taxi"></i></button>
                </div>
            </div>
        </div>

        <div class="row fly-next-active justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="/geair/booking-details.html"><img src="/geair/assets/img/images/fly_img01.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>09 Haz 2026 - 16 Haz 2026</span>
                        <h4 class="title">İstanbul (IST)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Moskova (MOW)</h4>
                        <a href="/geair/booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon01.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Ekonomi başlangıç</p>
                            <h4 class="price">3299 ₺</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-one cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="/geair/booking-details.html"><img src="/geair/assets/img/images/fly_img02.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>10 Haz 2026 - 17 Haz 2026</span>
                        <h4 class="title">Ankara (ESB)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Berlin (BER)</h4>
                        <a href="/geair/booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon02.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Business Class</p>
                            <h4 class="price">4999 ₺</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="/geair/booking-details.html"><img src="/geair/assets/img/images/fly_img03.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>11 Haz 2026 - 18 Haz 2026</span>
                        <h4 class="title">İzmir (ADB)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Paris (PAR)</h4>
                        <a href="/geair/booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon03.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Ekonomi başlangıç</p>
                            <h4 class="price">2850 ₺</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-one">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="/geair/booking-details.html"><img src="/geair/assets/img/images/fly_img04.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>12 Haz 2026 - 19 Haz 2026</span>
                        <h4 class="title">Antalya (AYT)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Roma (ROM)</h4>
                        <a href="/geair/booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon01.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Business Class</p>
                            <h4 class="price">4620 ₺</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="/geair/booking-details.html"><img src="/geair/assets/img/images/fly_img05.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>13 Haz 2026 - 20 Haz 2026</span>
                        <h4 class="title">Bodrum (BJV)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Londra (LON)</h4>
                        <a href="/geair/booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon03.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Ekonomi başlangıç</p>
                            <h4 class="price">5300 ₺</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-one">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="/geair/booking-details.html"><img src="/geair/assets/img/images/fly_img06.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>14 Haz 2026 - 21 Haz 2026</span>
                        <h4 class="title">Trabzon (TZX)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Viyana (VIE)</h4>
                        <a href="/geair/booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon02.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Business Class</p>
                            <h4 class="price">1580 ₺</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-two cat-one">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="/geair/booking-details.html"><img src="/geair/assets/img/images/fly_img07.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>15 Haz 2026 - 22 Haz 2026</span>
                        <h4 class="title">Adana (ADA)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Amsterdam (AMS)</h4>
                        <a href="/geair/booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon01.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Ekonomi başlangıç</p>
                            <h4 class="price">1950 ₺</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="/geair/booking-details.html"><img src="/geair/assets/img/images/fly_img08.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>16 Haz 2026 - 23 Haz 2026</span>
                        <h4 class="title">Gaziantep (GZT)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Madrid (MAD)</h4>
                        <a href="/geair/booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon02.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Business Class</p>
                            <h4 class="price"> 3500 t</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>